/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family), sans-serif;
  background-color: var(--color-background);
  color: var(--color-text);
  line-height: 1.6;
}

button {
  cursor: pointer;
  font-family: inherit;
}

